.gallery-view-img-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 85vh;
    width: 60vw;
}

.gallery-view-img{
    display: block;
    width: auto;
    height: 100%;
    margin: auto;
}

.gallery-view-col{
    width: 15vw;
    height: 85vh;
    display: inline-block;
}

.gallery-view-col-left{
    position: absolute;
    left: 4vw;
}

.gallery-view-col-right{
    position: absolute;
    right: 4vw;
}

.gallery-view-arrow-button {
    width: 5vh;
}

.gallery-view-arrow-button-left {
    position: inherit;
    left: 0;
    top: 38vh;
}

.gallery-view-arrow-button-right {
    position: inherit;
    right: 0vw;
    top: 38vh;
}

.gallery-view-home-button {
    width: 4vw;
    position: inherit;
    left: 0;
    bottom: 0;
}

.gallery-view-piece-description {
    font-family: Helvetica;
    font-weight: 300;
    font-size: 2vh;
    position: absolute;
    bottom: 0vh;
    right: 0vh;
}