*{
    margin: 0px;
    text-decoration: none;
}

.content {
    /* overflow:hidden; */
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("assets/fonts/helvetica/helvetica-neue-medium.ttf") format("truetype");
    font-weight: medium;
}

@font-face {
    font-family: "Helvetica Light";
    src:  url("assets/fonts/helvetica/helvetica-light.ttf") format("truetype");
}

@font-face {
    font-family: Cirka;
    src: url("assets/fonts/Cirka-Light.otf") format("opentype");
}

@font-face {
    font-family: MonumentExtended;
    src: url("assets/fonts/MonumentExtended-Regular.otf") format("opentype");
}

@font-face {
    font-family: NeueMachina;
    src: url("assets/fonts/NeueMachina-Regular.otf") format("opentype");
}

@font-face {
    font-family: NeueWorld;
    src: url("assets/fonts/NeueWorld-Regular.otf") format("opentype");
}

@font-face {
    font-family: Hatton;
    src: url("assets/fonts/Hatton-Medium.otf") format("opentype");
}

@font-face {
    font-family: SupplyReg;
    src: url("assets/fonts/Supply-Regular.otf") format("opentype");
}

@font-face {
    font-family: SupplyLight;
    src: url("assets/fonts/Supply-UltraLight.otf") format("opentype");
}

@font-face {
    font-family: FormulaCond;
    src: url("assets/fonts/FormulaCondensed-Bold.otf") format("opentype");
}

@font-face {
    font-family: MajorMono;
    src: url("assets/fonts/MajorMono-Regular.ttf") format("truetype");
}

/* 3dream sprial */

.home-top{
    float: left;
    width: 100vw;
    height: 11.5vh;
    background-color: whitesmoke;
}

.artist-names{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 10px;
}

.artist-names td h1{
  color: black;
  font-family: "MajorMono";
  font-size: 2vh;
  line-height: 3vh;    
  letter-spacing: -.8px;
  border: 1px solid black;
  border-width: thin thin .6vh thin;
  border-radius: 200px 200px 100px 100px;     
  padding: 1vh 2vw 1vh 2vw;
}
/* Name Hover Color*/

.artist-names .name1 h1:hover{
    background-color: red;
    box-shadow: 0px 0px 80px rgba(250,0,0,1);
    color: white;
    z-index: 9;
}

.artist-names .name2 h1:hover{
    background-color: darkorange;
    color: white;
    box-shadow: 0px 0px 80px rgba(250,120,0,1);
    z-index: 9999;
}

.artist-names .name3 h1:hover{
    background-color: goldenrod;
    color: white;
    box-shadow: 0px 0px 80px rgba(100,110,0,1);
}

.artist-names .name4 h1:hover{
    background-color: green;
    color: white;
    box-shadow: 0px 0px 80px rgba(0,250,0,1);
}

.artist-names .name5 h1:hover{
    background-color: darkblue;
    color: white;
    box-shadow: 0px 0px 80px rgba(60,0,255,1);
}

.artist-names .name6 h1:hover{
    background-color: blueviolet;
    color: white;
    box-shadow: 0px 0px 80px rgba(130,0,255,1);
}

.artist-names .name7 h1:hover{
    background-color: deeppink;
    color: white;
    box-shadow: 0px 0px 80px rgba(220,0,255,1);
}

.home-left{
    float: left;
    width: 25vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.home-right{
    float: right;
    width: 71vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.card{
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: thin thin thin thin;
    border-radius: 20px 20px 20px 20px;
    border-color: black;
}

.home-title {
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: black;
    padding: 20px 10px 10px 10px;
    text-align: center;
    border-radius: 20px 20px 0px 0px;
}

.home-title h1{
    font-family: "Hatton";
    font-size: 2vw;
    color: white;
    text-decoration: none;
}

.home-title:hover{
    background-color: hotpink;
    color: blue;
}

.masthead {
    margin: 15px 5px 15px 5px;
    padding: 10px 10px 10px 15px;
    height: 65%;
    font-family: "SupplyReg";
    font-size: 13px;
    line-height: 18px;    
    letter-spacing: -.8px;
    border-style: solid;
    border-width: thin thin thin 15px;
    border-radius: 15px 0px 0px 15px;
    border-color: black;
    overflow-y: scroll;
}

.masthead:hover {
    color: white;
    background-color: rgb(39, 39, 247);
    box-shadow: 0px 0px 70px  rgb(39, 39, 247);
}

/* VCS Seniors */


.bottom-title {
    box-sizing: border-box;
    background-color: black;
    padding: 0px 10px 10px 10px;
    text-align: center;
    border-radius: 0px 00px 20px 20px;
    margin-top: 5.5vh;
}


.bottom-title h1{
    font-family: "MajorMono";
    font-size: 1.5vw;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
}

.bottom-title:hover{
    background-color: dodgerblue;
    color: blue;
}


/* title animation */

.socials{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    
}

.socials td{
    border-style: solid;
    border-width: thin thin 4px thin;
    border-radius: 0px 20px 20px 20px;
    border-color: black;
    padding: 10px;
    margin: 10px;
}

.socials h4{
    font-family: "MajorMono";
    font-size: 1vw;
    letter-spacing: 1px;
    text-decoration: none;
}

#mastbutton {
    float: left;
    margin-right: 20px;
    padding: 10px 10px 10px 10px;
    width: 21.5%;
    font-family: "SupplyReg";
    font-size: 1vw;
    line-height: 18px;  
    letter-spacing: -.8px;
    text-align: center;
    border-style: solid;
    border-width: thin thin 4px thin;
    border-radius: 10px 0px 10px 0px;
    
}

.home-gallery-right { 
    float: left;
    height: 100vh;
    width: 70vw;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Artist Tables with Color */

.nametable{
    padding: 10vh 8vw 10vh 8vw;
    width: 100%;
    height: 100%;
    text-align: center;
}

.nametable td h1{
  color: black;
  font-family: "MajorMono";
  font-size: 2vh;
  line-height: 3vh;    
  letter-spacing: -.8px;
  border: 1px solid black;
  border-width: thin thin .6vh thin;
  border-radius: 100px 100px 100px 100px;     
  padding: 1vh 2vw 1vh 2vw;
}

.blankname{
    border: 0px;
    
}

td h2{
  color: black;
  font-family: "SupplyReg";
  font-size: 13px;
  line-height: 18px;    
  letter-spacing: -.8px;
  border: 1px solid black;
  border-width: thin 5px thin thin;
  border-radius: 20px 20px 20px 0px;
  padding: 10px;
  
}

td h3{
  color: black;
  font-family: "SupplyReg";
  font-size: 13px;
  line-height: 18px;    
  letter-spacing: -.8px;
  border: 1px solid black;
  border-width: thin;
  padding: 10px; 
}

/* Naomi.html */

.artistphoto{
    height: 50%;
}

.artistinfo{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    
    justify-content: center;
}



