*{
    position: relative;
    margin: 0px;
    text-decoration: none;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("assets/fonts/helvetica/helvetica-neue-medium.ttf") format("truetype");
    font-weight: medium;
}

@font-face {
    font-family: "Helvetica Light";
    src:  url("assets/fonts/helvetica/helvetica-light.ttf") format("truetype");
}

@font-face {
    font-family: Cirka;
    src: url("assets/fonts/Cirka-Light.otf") format("opentype");
}

@font-face {
    font-family: MonumentExtended;
    src: url("assets/fonts/MonumentExtended-Regular.otf") format("opentype");
}

@font-face {
    font-family: NeueMachina;
    src: url("assets/fonts/NeueMachina-Regular.otf") format("opentype");
}

@font-face {
    font-family: NeueWorld;
    src: url("assets/fonts/NeueWorld-Regular.otf") format("opentype");
}

@font-face {
    font-family: Hatton;
    src: url("assets/fonts/Hatton-Medium.otf") format("opentype");
}

@font-face {
    font-family: SupplyReg;
    src: url("assets/fonts/Supply-Regular.otf") format("opentype");
}

@font-face {
    font-family: SupplyLight;
    src: url("assets/fonts/Supply-UltraLight.otf") format("opentype");
}

@font-face {
    font-family: FormulaCond;
    src: url("assets/fonts/FormulaCondensed-Bold.otf") format("opentype");
}

@font-face {
    font-family: MajorMono;
    src: url("assets/fonts/MajorMono-Regular.ttf") format("truetype");
}

.home-menu-left {
    float: left;
    width: 28vw;
    z-index: 9999;
    margin: 0px;
}

.home-menu-left-top {
    background-color: white;
    padding: 10px 10px 5px 10px;
    height: 98vmin;
}

/* 3dream sprial */

.home-title {
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: black;
    padding: 15px 10px 10px 10px;
    text-align: center;
}

.home-title h1{
    font-family: "Hatton";
    font-size: 2vw;
    color: white;
    text-decoration: none;
}

.home-title:hover{
    background-color: hotpink;
    color: blue;
}

/* VCS Seniors */

.bottom-title {
    float: left;
    top: 1.5%;
    width: 100%;
    box-sizing: border-box;
    background-color: black;
    padding-top: 10px;
    text-align: center;
}

.bottom-title h1{
    font-family: "FormulaCond";
    font-size: 3vw;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
}

.bottom-title:hover{
    background-color: dodgerblue;
    color: blue;
}

/* title animation */

#masthead {
    margin-top: 15px;
    padding: 10px 10px 10px 15px;
    height: 25vh;
    font-family: "SupplyReg";
    font-size: 13px;
    line-height: 18px;    
    letter-spacing: -.8px;
    border-style: solid;
    border-width: thin thin thin 15px;
    border-radius: 15px 0px 0px 15px;
    overflow-y: scroll
}

#mastbutton {
    float: left;
    margin: 5px 10px 5px 10px;
    padding: 10px 10px 10px 10px;
    width: 4.5vw;
    font-family: "SupplyReg";
    font-size: 13px;
    line-height: 18px;  
    letter-spacing: -.8px;
    text-align: center;
    border-style: solid;
    border-width: thin thin 4px thin;
    border-radius: 10px 0px 10px 0px;
    
}

.nametable{
    padding-top: 15px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    justify-content: center;
}

td{
    width: 33%;
}

td h1{
  color: black;
  font-family: "SupplyReg";
  font-size: 13px;
  line-height: 18px;    
  letter-spacing: -.8px;
  border: 1px solid black;
  border-width: thin thin 4px thin;
  border-radius: 100px 100px 100px 100px;    
  padding: 4px 5px;   
}

.blankname{
    border: 0px;
    
}

/* Name Hover Color*/

.nametable .name1 h1:hover{
    background-color: red;
    box-shadow: 0px 0px 80px rgba(250,0,0,1);
    color: white;
}

.nametable .name2 h1:hover{
    background-color: darkorange;
    color: white;
    box-shadow: 0px 0px 80px rgba(250,120,0,1);
}

.nametable .name3 h1:hover{
    background-color: goldenrod;
    color: white;
    box-shadow: 0px 0px 80px rgba(100,110,0,1);
}

.nametable .name4 h1:hover{
    background-color: green;
    color: white;
    box-shadow: 0px 0px 80px rgba(0,250,0,1);
}

.nametable .name5 h1:hover{
    background-color: darkblue;
    color: white;
    box-shadow: 0px 0px 80px rgba(60,0,255,1);
}

.nametable .name6 h1:hover{
    background-color: blueviolet;
    color: white;
    box-shadow: 0px 0px 80px rgba(130,0,255,1);
}

.nametable .name7 h1:hover{
    background-color: deeppink;
    color: white;
    box-shadow: 0px 0px 80px rgba(220,0,255,1);
}

.home-gallery-right {    
    height: 100vh;
    overflow-y: scroll;
    background-color: black;
    padding-left: 2vw;
}

.home-gallery-right-col1 {
    position: absolute;
    width: 30vw;
    margin: 2vw;
    
}

/* Image Gallery with Popup Box */

.home-gallery-right-col1 .box{
 
    transform-style: preserve-3d;
    
}

.home-gallery-right-col1 .box:hover{
    box-shadow: 0px 0px 40px rgba(250,250,250,0.6);
    z-index: 10;
}

.home-gallery-right-col1 .box .imgbox{
    width: 100%;
    height: 100%;
}

img{
    width: 100%;
    height: 100%;
}

.home-gallery-right-col1 .box .contentbox{
    position: absolute;
    width: 80%;
    top: 10%;
    left: 7%;
    right: 7%;
    background: #000000;
    color: #fff;
    border-radius: 10px;
    transform: translateZ(20px) scaleY(0);
    padding:  10px 10px;
    transform-origin: top;
    transition: 0.1s;
    transform-style: preserve-3d;
    z-index: 0;
}

.home-gallery-right-col1 .box:hover .contentbox{
    transform: translateZ(40px) scaleY(1);
    z-index: 10;
}
.home-gallery-img{
    width: 100%;
}

.home-gallery-right-col2 {
    position: absolute;
    left: 35vw;
    width: 30vw;
    margin: 2vw;
}

.profile-menu-left {
    font-family: "Helvetica Neue";
    width: 34vw;
    margin: .5vw 1vw .5vw 1vw;
    padding: .5vw;
    position: fixed;
}

.profile-menu-left-top {
    position: inherit;
    top: 2vw;
    width: 34vw;
}

#profile-title {
    font-family: "Helvetica Neue";
    font-weight: 700;
    font-size: 2.5vw;
    color: black;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top: 0;
    
}

#profile-name {
    font-family: "Helvetica";
    font-weight: 300;
    font-size: 3.2vw;
    color: black;
    text-align: right;
    position: absolute;
    right: 0;
    display: inline-block;
}

.profile-menu-left-middle{
    position: inherit;
    top: 25vh;
    width: 34vw;
    height: 55vh;
}

#profile-photo{
    width: 18vw;
    display: inline-block;
}

.profile-info-button{
    font-family: Helvetica;
    font-weight: 400;
    font-size: 4vw;
    position: absolute;
    bottom: 0vh;
    margin: 0;
}

.profile-menu-left-bottom {
    position: inherit;
    bottom: 2vw;
    width: 34vw;
}

#profile-writing-button {
    width: 5vw;
}

#profile-student-dropdown {
    position: absolute;
    bottom: 0vw;
    right: 0vw;
    font-size: 2.5vw;
    font-weight: 700;
}

#profile-student-dropdown-test {
    text-decoration: none;
    color: black;
}