@keyframes fadeInWhite {
    0% {
        color: black;
    }
    100% {
        color: white;
    }
}

@keyframes fadeInBlack {
    0% {
        color: white;
    }
    100% {
        color: black;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* @keyframes cray {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} */

.fadeinwhite{
    animation-duration: .75s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-name: fadeInWhite;
}

.fadeinblack{
    animation-duration: .75s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-name: fadeInBlack;
}


.fadein{
    animation-duration: .75s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-name: fadeIn;
}