.background {
    z-index: 100;
    width: 100vw;
    height: auto;
    position: sticky;
}

.downarrow-profile{
    position: sticky;
    bottom: 10px;
    left: 45%;
    z-index: 100;
    width: 25vw;
    margin-top: -20vh;
    margin-bottom: 20vh;
    border: none;
}

.downarrow-profile img{
    width: 30%;
}

.student-box-2 p{
    font-family: "Apercu-Light";
    /* font-family: "helvetica"; */
    font-size: 13.5px;
    line-height: 21px;
    color: black;
}

.student-box-1 .piece-description{
    position: absolute;
    max-height: 45%;
    width: 35%;
    left: 50vw;
    background-color: white;
    border-style: solid;
    border-width: thin;
    border-radius: 20px 0px 0px 20px;
    transform: scaleX(0);
    padding:  20px;
    transform-origin: left;
    transition: 0.3s;
    transform-style: preserve-3d;
    z-index: 0;
    overflow-y: scroll;
}

.student-box-1 .piece-description p{
    font-family: "Apercu-Light";
    /* font-family: "helvetica"; */
    font-size: 13.5px;
    line-height: 21px;
}

.student-box-1:hover .piece-description{
    transform: scaleX(1);
    z-index: 1;
}

.profile-photo{
    width: 60%;
}