@font-face {
    font-family: "Helvetica Neue";
    src: url("fonts/helvetica/helvetica-neue-medium.ttf") format("truetype");
    font-weight: medium;
}

@font-face {
    font-family: "Helvetica Light";
    src:  url("fonts/helvetica/helvetica-light.ttf") format("truetype");
}

@font-face {
    font-family: Cirka;
    src: url("fonts/Cirka-Light.otf") format("opentype");
}

@font-face {
    font-family: MonumentExtended;
    src: url("fonts/MonumentExtended-Regular.otf") format("opentype");
}

@font-face {
    font-family: NeueMachina;
    src: url("fonts/NeueMachina-Regular.otf") format("opentype");
}

@font-face {
    font-family: NeueWorld;
    src: url("fonts/NeueWorld-Regular.otf") format("opentype");
}

@font-face {
    font-family: Hatton;
    src: url("assets/fonts/Hatton-Medium.otf") format("opentype");
}

@font-face {
    font-family: SupplyReg;
    src: url("fonts/Supply-Regular.otf") format("opentype");
}

@font-face {
    font-family: SupplyLight;
    src: url("fonts/Supply-UltraLight.otf") format("opentype");
}

@font-face {
    font-family: FormulaCond;
    src: url("fonts/FormulaCondensed-Bold.otf") format("opentype");
}

@font-face {
    font-family: MajorMono;
    src: url("fonts/MajorMono-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Apercu-Light;
    src: url("fonts/Apercu-Light.otf") format("opentype");
}

@font-face {
    font-family: Mad Serif nofill;
    src: url("fonts/mad-serif-bold.ttf") format("opentype");
}

@font-face {font-family: "MAD Serif"; src: url("//db.onlinewebfonts.com/t/20e458bc0608b78f9d5572744c730fa2.eot"); src: url("//db.onlinewebfonts.com/t/20e458bc0608b78f9d5572744c730fa2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/20e458bc0608b78f9d5572744c730fa2.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/20e458bc0608b78f9d5572744c730fa2.woff") format("woff"), url("//db.onlinewebfonts.com/t/20e458bc0608b78f9d5572744c730fa2.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/20e458bc0608b78f9d5572744c730fa2.svg#MAD Serif") format("svg"); } 

@font-face {
    font-family: GT-Haptic-Bold;
    src: url("fonts/GT-Haptik-Bold-Trial.otf") format("opentype");
}

@font-face {
    font-family: GT-Haptic-Medium;
    src: url("fonts/GT-Haptik-Medium-Trial.otf") format("opentype");
}

@font-face {
    font-family: GT-Haptic-Light-Rotalic;
    src: url("fonts/GT-Haptik-Light-Rotalic-Trial.otf") format("opentype");
}

@font-face {
    font-family: Beatrice-Display;
    src: url("fonts/BeatriceDisplay-Semibold.otf") format("opentype");
}

@font-face {
    font-family: Beatrice;
    src: url("fonts/Beatrice-Semibold.otf") format("opentype");
}

@font-face {
    font-family: GT-America-Standard-Thin;
    src: url("fonts/GT-America-Standard-Thin-Trial.woff2") format("woff2");
}

/* scroll bar */ 

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(255,113,238);
  background: linear-gradient(0deg, rgba(255,113,238,1) 0%, rgba(255,77,77,1) 19%, rgba(255,159,75,1) 39%, rgba(236,255,80,1) 55%, rgba(64,255,237,1) 75%, rgba(3,179,0,1) 93%);
}

::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: 0px 0px 0px 100000vh black;
}

/* BODY */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

body{
    display: inline-block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
/*    cursor: crosshair;*/
    cursor: url(images/cursor.png), auto;
    overflow-x: hidden;
    margin: 0;
}

/* THREE JS APPENDCHILD */

.scene,
canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -100;
}

/* THE SHOW TITLE THAT MOVES DOWN */

.sva-vcs{
    position: fixed;
    width: 25vw;
    height: 10vh;
    margin: 27px;
    z-index: 200;
    left: 0px;
}

.sva-vcs span{
    float: left;
    font-family: "Beatrice";
    font-size: 30px;
}

.controls{
    position: fixed;
    width: 25vw;
    height: 10vh;
    margin: 27px;
    z-index: 200;
    bottom: 40vh;
}

.controls span{
    float: left;
    font-family: "Beatrice";
    font-size: 30px;
}

.info{
    position: fixed;
    width: 25vw;
    height: 10vh;
    margin: 27px;
    right: 0px;
    z-index: 200;
}

.info span{
    float: right;
    font-family: "Beatrice";
    font-size: 30px;
}

.downarrow{
    position: absolute;
    bottom: 10px;
    left: 45%;
    right: 0;
}

.downarrow img{
    width: 18%;
}

.spacer{
    float: left;
    top: 0px;
    width: 100vw;
    height: 100vh;
    display: inline-block;
}

.main{
    float: left;
    top: 100vh;
    width: 100vw;
    display: inline-block;
    background: white;
}

.showtitle{
    width: 50vw;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    font-family: "Beatrice";
    top: 1vh;
    text-align: center;
    z-index: 200;
    margin: 0 auto 0 auto;
}

.showtitle h1{
    font-size: 50px;
}

.top-gradient {
    position: sticky;
    position: -webkit-sticky; /* Safari */
    width: 100vw;
    height: 14vh;
    z-index: 100;
    top: 0;
    background-image: linear-gradient(180deg, rgba(254,254,254,1) 49%, rgba(254,254,254,0.9317927854735644) 55%, rgba(254,254,254,0.8701681356136204) 62%, rgba(254,254,254,0.7973390039609594) 69%, rgba(254,254,254,0.6432773793110995) 77%, rgba(254,254,254,0.4331933456976541) 87%, rgba(255,255,255,0) 100%);
}

.masthead{
    padding: 20vh 8vw 20vh 8vw;
    background-color: white;
}

.masthead p{
    font-family: "GT-America-Standard-Thin";
    font-size: 8vh;
    line-height: 12vh;
    color: black;
    text-align: justify;
}

.students{
    text-align: center;
    background-color: transparent;
    
}

.students h1{
    font-family: "GT-Haptic-Bold";
    font-size: 4vw;
}

.students h2{
    font-family: "GT-Haptic-Light-Rotalic";
    font-size: 2vw;
    letter-spacing: 2px;
}

.container-box{
    width: 100%;
    height: 80vh;
    margin:15 0vh 15vh 0vh;
    height: 100vh;

}

.student-box-1 {
    width: 50%;
    height: 100%;
    float: left;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10vw;
}

.student-box-1 img {
    max-width: 90%;
    box-shadow: 0px 0px 60px rgba(0,0,0, 0.5);
}

.student-box-1 h2 {
    font-size: 50px;
    font-family: "GT-Haptic-Bold";
    font-weight: 400;
    padding: 20px 0px 0px 0px;
    text-decoration: none;
    letter-spacing: -.3px;
}

.student-box-1 h3 {
    font-size: 24px;
    font-family: "GT-Haptic-Light-Rotalic";
    letter-spacing: 2.5px;
    text-decoration: none;
}

.spacer-box-1 {
    width: 50%;
    height: 100%;
    float: right;
}

.student-box-2 {
    width: 50%;
    height: 100%;
    float: right;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10vw;
}

.student-box-2 img {
    max-width: 90%;
    box-shadow: 0px 0px 60px rgba(0,0,0, 0.5);
}

.student-box-2 h2 {
    font-size: 50px;
    font-family: "GT-Haptic-Bold";
    font-weight: 400;
    padding: 20px 0px 0px 0px;
    letter-spacing: -.3px;
    
}

.student-box-2 h3 {
    font-size: 24px;
    font-family: "GT-Haptic-Light-Rotalic";
    letter-spacing: 2.5px;
}

.spacer-box-2 {
    width: 50%;
    height: 100%;
    float: left;
}

.footer {
    background-color: dimgrey;
    width: 100%;
    height: 40vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.footer a{
    text-decoration: none;
    padding-bottom: 5vh;
}

.footer h1{
    color: white;
    font-family: "GT-Haptic-Medium";
    letter-spacing: 3px;
    font-weight: 100;
    font-size: 30px;
}

.footer img {
    width: 6%;
}



















