*{
    margin: 0px;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("assets/fonts/helvetica/helvetica-neue-medium.ttf") format("truetype");
    font-weight: medium;
}

@font-face {
    font-family: "Helvetica Light";
    src:  url("assets/fonts/helvetica/helvetica-light.ttf") format("truetype");
}

@font-face {
    font-family: Cirka;
    src: url("assets/fonts/Cirka-Light.otf") format("opentype");
}

@font-face {
    font-family: MonumentExtended;
    src: url("assets/fonts/MonumentExtended-Regular.otf") format("opentype");
}

@font-face {
    font-family: NeueMachina;
    src: url("assets/fonts/NeueMachina-Regular.otf") format("opentype");
}

@font-face {
    font-family: NeueWorld;
    src: url("assets/fonts/NeueWorld-Regular.otf") format("opentype");
}

@font-face {
    font-family: Hatton;
    src: url("assets/fonts/Hatton-Medium.otf") format("opentype");
}

@font-face {
    font-family: SupplyReg;
    src: url("assets/fonts/Supply-Regular.otf") format("opentype");
}

@font-face {
    font-family: SupplyLight;
    src: url("assets/fonts/Supply-UltraLight.otf") format("opentype");
}

.home-menu-left {
    position: absolute;
    width: 34vw;
    height: 100vh;
}

.home-menu-left-top {
    position: absolute;
    width: 100%;
    height: 96%;
    background-color: white;
    padding: 15px 10px 10px 15px;
    z-index: 99;
}

#home-title {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 4.5vw;
    color: black;
    text-decoration: black;
}

#masthead {
    margin-top: 15px;
    padding: 10px 10px 10px 15px;
    font-family: "SupplyReg";
    font-size: 13px;
    line-height: 18px;    
    letter-spacing: -.8px;
    border-style: solid;
    border-width: thin thin thin 15px;
    border-radius: 15px 0px 0px 15px;
}

#mastbutton {
    float:right;
    margin: 5px;
    padding: 10px 15px 10px 10px;
    width: 4.5vw;
    font-family: "SupplyReg";
    font-size: 13px;
    line-height: 18px;    
    letter-spacing: -.8px;
    text-align: center;
    border-style: solid;
    border-width: thin thin 4px thin;
    border-radius: 10px 0px 10px 0px;
    
}

.nametable{
    padding-top: 15px;
    font-family: "SupplyReg";
    font-size: 13px;
    line-height: 18px;    
    letter-spacing: -.8px;
    width: 100%;
    text-align: center;
}

td {
  border: 1px solid black;
  border-width: thin thin 4px thin;
  border-radius: 10px;    
  padding: 4px 10px;   
}
.blankname{
    border: 0px;
    
}

/* Name Hover Color*/

.nametable .name1 :hover{
    background-color: red;
    color: white;
}



.home-menu-left-bottom {
    float: left;
    width: 100%;
    height: 7%;
    background-color: wheat;
    padding: 10px;
    z-index: 5;
}

#sva-logo {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 8vw;
}

#home-student-dropdown {
    position: absolute;
    bottom: 3px;
    right: -10px;
    font-family: "Hatton";
    font-size: 2.5vw;
}

#home-student-dropdown-test {
    text-decoration: none;
    color: black;
}



.home-gallery-right {
    width: 63vw;
    height: 93vh;
    position: fixed;
    right: 0vw;
    overflow-y: scroll;
}

.home-gallery-right-col1 {
    width: 28vw;
    position: absolute;
    left: 0vw;
    margin: 1.5vw;
    
}

/* Image Gallery with Popup Box */

.home-gallery-right-col1 .box{
    position: relative;
    transform-style: preserve-3d;
    
}

.home-gallery-right-col1 .box:hover{
    box-shadow: 0px 0px 20px rgba(250,0,0,0.4);
    z-index: 10;
}

.home-gallery-right-col1 .box .imgbox{
    width: 100%;
    height: 100%;
}

img{
    width: 100%;
    height: 100%;
}

.home-gallery-right-col1 .box .contentbox{
    position: absolute;
    width: 80%;
    top: 10%;
    left: 7%;
    right: 7%;
    background: #000000;
    color: #fff;
    border-radius: 10px;
    transform: translateZ(20px) scaleY(0);
    padding:  10px 10px;
    transform-origin: top;
    transition: 0.1s;
    transform-style: preserve-3d;
    z-index: 0;
}

.home-gallery-right-col1 .box:hover .contentbox{
    transform: translateZ(40px) scaleY(1);
    z-index: 10;
}
.home-gallery-img{
    width: 100%;
}

.home-gallery-right-col2 {
    width: 28vw;
    position: absolute;
    right: 0vw;
    margin: 1.5vw;
}

.gallery-view-img-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 85vh;
    width: 60vw;
}

.gallery-view-img{
    display: block;
    width: auto;
    height: 100%;
    margin: auto;
}

.gallery-view-col{
    width: 15vw;
    height: 85vh;
    display: inline-block;
}

.gallery-view-col-left{
    position: absolute;
    left: 4vw;
}

.gallery-view-col-right{
    position: absolute;
    right: 4vw;
}

.gallery-view-arrow-button {
    width: 5vh;
}

.gallery-view-arrow-button-left {
    position: inherit;
    left: 0;
    top: 38vh;
}

.gallery-view-arrow-button-right {
    position: inherit;
    right: 0vw;
    top: 38vh;
}

.gallery-view-home-button {
    width: 4vw;
    position: inherit;
    left: 0;
    bottom: 0;
}

.gallery-view-piece-description {
    font-family: Helvetica;
    font-weight: 300;
    font-size: 2vh;
    position: absolute;
    bottom: 0vh;
    right: 0vh;
}

.profile-menu-left {
    font-family: "Helvetica Neue";
    width: 34vw;
    margin: .5vw 1vw .5vw 1vw;
    padding: .5vw;
    position: fixed;
}

.profile-menu-left-top {
    position: inherit;
    top: 2vw;
    width: 34vw;
}

#profile-title {
    font-family: "Helvetica Neue";
    font-weight: 700;
    font-size: 2.5vw;
    color: black;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top: 0;
    
}

#profile-name {
    font-family: "Helvetica";
    font-weight: 300;
    font-size: 3.2vw;
    color: black;
    text-align: right;
    position: absolute;
    right: 0;
    display: inline-block;
}

.profile-menu-left-middle{
    position: inherit;
    top: 25vh;
    width: 34vw;
    height: 55vh;
}

#profile-photo{
    width: 18vw;
    display: inline-block;
}

.profile-info-button{
    font-family: Helvetica;
    font-weight: 400;
    font-size: 4vw;
    position: absolute;
    bottom: 0vh;
    margin: 0;
}

.profile-menu-left-bottom {
    position: inherit;
    bottom: 2vw;
    width: 34vw;
}

#profile-writing-button {
    width: 5vw;
}

#profile-student-dropdown {
    position: absolute;
    bottom: 0vw;
    right: 0vw;
    font-size: 2.5vw;
    font-weight: 700;
}

#profile-student-dropdown-test {
    text-decoration: none;
    color: black;
}