@font-face {
    font-family: "Helvetica Neue";
    src: url("fonts/helvetica/helvetica-neue-medium.ttf") format("truetype");
    font-weight: medium;
}

@font-face {
    font-family: "Helvetica Light";
    src:  url("fonts/helvetica/helvetica-light.ttf") format("truetype");
}

@font-face {
    font-family: Cirka;
    src: url("fonts/Cirka-Light.otf") format("opentype");
}

@font-face {
    font-family: MonumentExtended;
    src: url("fonts/MonumentExtended-Regular.otf") format("opentype");
}

@font-face {
    font-family: NeueMachina;
    src: url("fonts/NeueMachina-Regular.otf") format("opentype");
}

@font-face {
    font-family: NeueWorld;
    src: url("fonts/NeueWorld-Regular.otf") format("opentype");
}

@font-face {
    font-family: Hatton;
    src: url("assets/fonts/Hatton-Medium.otf") format("opentype");
}

@font-face {
    font-family: SupplyReg;
    src: url("fonts/Supply-Regular.otf") format("opentype");
}

@font-face {
    font-family: SupplyLight;
    src: url("fonts/Supply-UltraLight.otf") format("opentype");
}

@font-face {
    font-family: FormulaCond;
    src: url("fonts/FormulaCondensed-Bold.otf") format("opentype");
}

@font-face {
    font-family: MajorMono;
    src: url("fonts/MajorMono-Regular.ttf") format("truetype");
}

/* BODY */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: inline-block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    cursor: crosshair;
    overflow-x: hidden;
    margin: 0;
}

/* THREE JS APPENDCHILD */

.scene,
canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* THE SHOW TITLE THAT MOVES DOWN */

.topnav{
    position: fixed;
    width: 100%;
    height: 15%;
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

.topnav h1{
    font-family: "Hatton";
    font-size: 2vw;
    padding: 0px 40vw 0px 40vw
}

.spacer{
    float: left;
    top: 0px;
    width: 100vw;
    height: 100vh;
    display: inline-block;
}

.main{
    float: left;
    top: 100vh;
    width: 100vw;
    display: inline-block;
    background-color: white;
}

.showtitle{
    text-align: center;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0px;
    background-color: white;
    padding: 10px 0px 15px 0px;
}

.showtitle h1{
    font-family: "MajorMono";
    font-size: 3vw;   
}

.masthead{
    padding: 20vh 25vw 20vh 25vw;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.masthead p{
    font-family: "helvetica";
    font-size: 15px;
    line-height: 24px;
    color: white;
}

.students{
    text-align: center;
    padding-top: 20vh;
}

.students h1{
    font-family: "Syne";
    font-size: 5vw;
}

.container-box{
    width: 100%;
    height: 80vh;
    margin-top: 30vh;
}

.student-box-1 {
    width: 50%;
    height: 100%;
    float: left;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10vw;
}

.student-box-1 img {
    max-width: 90%;
    box-shadow: 0px 0px 60px rgba(0,0,0, 0.5);
}

.student-box-1 h2 {
    font-size: 50px;
    font-family: "Syne";
}

.student-box-1 h3 {
    font-size: 24px;
    font-family: "Syne";
}

.spacer-box-1 {
    width: 50%;
    height: 100%;
    float: right;
}

.student-box-2 {
    width: 50%;
    height: 100%;
    float: right;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10vw;
}

.student-box-2 img {
    max-width: 90%;
    box-shadow: 0px 0px 60px rgba(0,0,0, 0.5);
}

.student-box-2 h2 {
    font-size: 50px;
    font-family: "Syne";
}

.student-box-2 h3 {
    font-size: 24px;
    font-family: "Syne";
}

.spacer-box-2 {
    width: 50%;
    height: 100%;
    float: left;
}

.footer {
    background-color: dimgrey;
    width: 100%;
    height: 40vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.footer a{
    text-decoration: none;
    padding-bottom: 5vh;
}

.footer h1{
    color: white;
    font-family: "Syne";
    font-size: 30px;
}

.footer img {
    width: 6%;
}




















